* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#quiz-options {
    display: flex;
    flex-direction: column;
}

#quiz-body {
    width: 100%;
    background-color: #efefef;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h2 {
    margin-top: 50px;
}

#quiz-card {
    background-color: white;
    margin: 0 auto;
    width: 75%;
    height: 550px;
}

#quiz-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 420px;
}

.option-container {
    display: flex;
    width: 500px;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    background-color: #efefef;
    height: 50px;
    border-radius: 50px;
    padding: 0 20px;


}


#submit-btn {
    width: 300px;
    height: 50px;
    margin: 20px auto;
    border: none;
    cursor: pointer;
    background-color: green;
    color: white;
    border-radius: 50px;
    font-size: 24px;

}

#submit-btn:hover {
    background-color: navy;
}

#quiz-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.win-screen {
    text-align: center;
}

.win-screen h1 {
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 800;
}

.win-screen p {
    font-size: 30px;
}